<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55473367261-sjduakcqt4cvc135hpsudgio0n2pekph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55473367261-sjduakcqt4cvc135hpsudgio0n2pekph</string>
	<key>API_KEY</key>
	<string>AIzaSyCMoVgK1iTouPT0u0wXYp6rzwmPasRY3BQ</string>
	<key>GCM_SENDER_ID</key>
	<string>55473367261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMusicClouds.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>musiccloud-8eaa8</string>
	<key>STORAGE_BUCKET</key>
	<string>musiccloud-8eaa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55473367261:ios:7acf17e9184db7642a9334</string>
	<key>DATABASE_URL</key>
	<string>https://musiccloud-8eaa8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>